node_modules/*
node_modules
node_modules/
Backend/dist/*
Backend/dist/module/*
Backend/dist/auth/*.ts
Backend/dist
Backend/dist/app.module.d.ts
Backend/dist/app.module.d.ts
Backend/dist/app.module.d.ts
Backend/dist/
