-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: mukut_feature_db
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `answers`
--

DROP TABLE IF EXISTS `answers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `answers` (
  `id` varchar(36) NOT NULL,
  `text` text DEFAULT NULL,
  `selectedOptionIds` text DEFAULT NULL,
  `userId` varchar(255) NOT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  `questionId` varchar(36) DEFAULT NULL,
  `questionModelId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_c38697a57844f52584abdb878d7` (`questionId`),
  KEY `FK_f13ef27eef1c75e46e876bafff1` (`questionModelId`),
  CONSTRAINT `FK_c38697a57844f52584abdb878d7` FOREIGN KEY (`questionId`) REFERENCES `questions` (`id`) ON DELETE CASCADE ON UPDATE NO ACTION,
  CONSTRAINT `FK_f13ef27eef1c75e46e876bafff1` FOREIGN KEY (`questionModelId`) REFERENCES `question-models` (`id`) ON DELETE CASCADE ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `answers`
--

LOCK TABLES `answers` WRITE;
/*!40000 ALTER TABLE `answers` DISABLE KEYS */;
/*!40000 ALTER TABLE `answers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app`
--

DROP TABLE IF EXISTS `app`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app` (
  `id` varchar(36) NOT NULL,
  `name` varchar(255) NOT NULL,
  `tier` varchar(255) NOT NULL,
  `serialNumber` varchar(255) NOT NULL,
  `moduleId` varchar(255) NOT NULL,
  `userId` varchar(255) NOT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_90a5338d9592425e6faf5294a1a` (`moduleId`),
  CONSTRAINT `FK_90a5338d9592425e6faf5294a1a` FOREIGN KEY (`moduleId`) REFERENCES `modules` (`id`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app`
--

LOCK TABLES `app` WRITE;
/*!40000 ALTER TABLE `app` DISABLE KEYS */;
/*!40000 ALTER TABLE `app` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `datapoint`
--

DROP TABLE IF EXISTS `datapoint`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `datapoint` (
  `id` varchar(36) NOT NULL,
  `itemId` varchar(255) NOT NULL,
  `dpGroupCode` varchar(255) NOT NULL,
  `dataPoint` varchar(255) NOT NULL,
  `serialNumber` varchar(255) NOT NULL,
  `dataType` varchar(255) NOT NULL,
  `userId` varchar(255) NOT NULL,
  `isHide` tinyint(4) NOT NULL DEFAULT 0,
  `isRequired` tinyint(4) NOT NULL DEFAULT 0,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  `regional` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `datapoint`
--

LOCK TABLES `datapoint` WRITE;
/*!40000 ALTER TABLE `datapoint` DISABLE KEYS */;
/*!40000 ALTER TABLE `datapoint` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `datapointmap`
--

DROP TABLE IF EXISTS `datapointmap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `datapointmap` (
  `id` varchar(36) NOT NULL,
  `itemId` varchar(255) NOT NULL,
  `dpGroupId` varchar(255) NOT NULL,
  `dataPointId` varchar(255) NOT NULL,
  `serialNumber` varchar(255) DEFAULT NULL,
  `dataType` varchar(255) DEFAULT NULL,
  `userId` varchar(255) NOT NULL,
  `isHide` tinyint(4) NOT NULL DEFAULT 0,
  `isRequired` tinyint(4) NOT NULL DEFAULT 0,
  `createdAt` datetime(6) DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `datapointmap`
--

LOCK TABLES `datapointmap` WRITE;
/*!40000 ALTER TABLE `datapointmap` DISABLE KEYS */;
INSERT INTO `datapointmap` VALUES ('22fe2b40-51df-499d-b007-8c027aab5971','996f270f-5858-4553-9470-3dddadedc890','ca11b6ca-e628-4f57-8bb2-8582772a7a90','30238a17-27fc-4a59-b537-7d09af417ea5','0','','a52c4775-308c-4d4c-b1ac-7894dac55a1d',0,0,'2025-07-24 18:03:38.000000','2025-07-24 18:03:48.000000','admin','admin');
/*!40000 ALTER TABLE `datapointmap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `designdefinitions`
--

DROP TABLE IF EXISTS `designdefinitions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `designdefinitions` (
  `id` varchar(36) NOT NULL,
  `contentTypeId` varchar(255) NOT NULL,
  `contentTypeName` varchar(255) NOT NULL,
  `fileType` varchar(255) NOT NULL,
  `type` enum('CLASS','ACTION','ACTIVITY_DIAGRAM','CLASS_DIAGRAM') NOT NULL,
  `title` varchar(255) DEFAULT NULL,
  `content` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`content`)),
  `imageUrl` varchar(255) DEFAULT NULL,
  `notes` varchar(255) DEFAULT NULL,
  `userId` varchar(255) NOT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `designdefinitions`
--

LOCK TABLES `designdefinitions` WRITE;
/*!40000 ALTER TABLE `designdefinitions` DISABLE KEYS */;
/*!40000 ALTER TABLE `designdefinitions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dpgroupmap`
--

DROP TABLE IF EXISTS `dpgroupmap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dpgroupmap` (
  `id` varchar(36) NOT NULL,
  `itemId` varchar(255) NOT NULL,
  `subItemId` varchar(255) DEFAULT NULL,
  `subSubItemId` varchar(255) DEFAULT NULL,
  `subSubSubItemId` varchar(255) DEFAULT NULL,
  `dpGroupId` varchar(255) NOT NULL,
  `serialNumber` varchar(255) DEFAULT NULL,
  `displayType` varchar(255) DEFAULT NULL,
  `userId` varchar(255) NOT NULL,
  `createdAt` datetime(6) DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dpgroupmap`
--

LOCK TABLES `dpgroupmap` WRITE;
/*!40000 ALTER TABLE `dpgroupmap` DISABLE KEYS */;
/*!40000 ALTER TABLE `dpgroupmap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feature`
--

DROP TABLE IF EXISTS `feature`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feature` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `remarks` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feature`
--

LOCK TABLES `feature` WRITE;
/*!40000 ALTER TABLE `feature` DISABLE KEYS */;
/*!40000 ALTER TABLE `feature` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `field`
--

DROP TABLE IF EXISTS `field`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `field` (
  `id` varchar(36) NOT NULL,
  `serialNumber` varchar(255) NOT NULL,
  `description` varchar(255) NOT NULL,
  `fieldGroupCode` varchar(255) NOT NULL,
  `tier` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `subItemId` varchar(255) DEFAULT NULL,
  `subSubItemId` varchar(255) DEFAULT NULL,
  `subSubSubItemId` varchar(255) DEFAULT NULL,
  `userId` varchar(255) NOT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  `displayType` varchar(255) NOT NULL,
  `dataType` varchar(255) NOT NULL,
  `isRequired` tinyint(4) NOT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `itemId` varchar(2555) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_6ef898729970148a88342f1d29f` (`subSubSubItemId`),
  CONSTRAINT `FK_6ef898729970148a88342f1d29f` FOREIGN KEY (`subSubSubItemId`) REFERENCES `sub_sub_sub_item` (`id`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `field`
--

LOCK TABLES `field` WRITE;
/*!40000 ALTER TABLE `field` DISABLE KEYS */;
INSERT INTO `field` VALUES ('0ff1096c-c3dd-4302-88b2-bc76eb814247','2','','Item-test-2','C','',NULL,NULL,NULL,'a52c4775-308c-4d4c-b1ac-7894dac55a1d','2025-07-26 17:49:32.327000','2025-07-27 18:26:47.422000','admin','admin','Tree','',0,'test','5b4d27ea-bcc5-4e60-bf6d-d09abc86ff00'),('ca11b6ca-e628-4f57-8bb2-8582772a7a90','1','','Item-test-1','C','',NULL,NULL,NULL,'a52c4775-308c-4d4c-b1ac-7894dac55a1d','2025-07-13 17:55:08.845000','2025-07-27 18:26:55.005000','admin','admin','tree','',0,'test','5b4d27ea-bcc5-4e60-bf6d-d09abc86ff00');
/*!40000 ALTER TABLE `field` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item`
--

DROP TABLE IF EXISTS `item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item` (
  `id` varchar(36) NOT NULL,
  `name` varchar(255) NOT NULL,
  `menuId` varchar(255) NOT NULL,
  `serialNumber` varchar(255) NOT NULL,
  `buttonType` varchar(255) NOT NULL,
  `buttonLabel` varchar(255) NOT NULL,
  `navigationTo` varchar(255) NOT NULL,
  `description` varchar(255) NOT NULL,
  `userId` varchar(255) NOT NULL,
  `itemType` varchar(36) DEFAULT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_c737f46f32e0a98e23bda86a8fc` (`menuId`),
  CONSTRAINT `FK_c737f46f32e0a98e23bda86a8fc` FOREIGN KEY (`menuId`) REFERENCES `menu` (`id`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item`
--

LOCK TABLES `item` WRITE;
/*!40000 ALTER TABLE `item` DISABLE KEYS */;
/*!40000 ALTER TABLE `item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu`
--

DROP TABLE IF EXISTS `menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `menu` (
  `id` varchar(36) NOT NULL,
  `title` varchar(255) NOT NULL,
  `appId` varchar(255) NOT NULL,
  `userId` varchar(255) NOT NULL,
  `tier` varchar(255) NOT NULL,
  `serialNumber` varchar(255) NOT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_c5377061afbd9eb0a8eafc541a1` (`appId`),
  CONSTRAINT `FK_c5377061afbd9eb0a8eafc541a1` FOREIGN KEY (`appId`) REFERENCES `app` (`id`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu`
--

LOCK TABLES `menu` WRITE;
/*!40000 ALTER TABLE `menu` DISABLE KEYS */;
/*!40000 ALTER TABLE `menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `modules`
--

DROP TABLE IF EXISTS `modules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `modules` (
  `id` varchar(36) NOT NULL,
  `name` varchar(255) NOT NULL,
  `tier` varchar(255) NOT NULL,
  `serialNumber` varchar(255) NOT NULL,
  `userId` varchar(255) NOT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `modules`
--

LOCK TABLES `modules` WRITE;
/*!40000 ALTER TABLE `modules` DISABLE KEYS */;
/*!40000 ALTER TABLE `modules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `options`
--

DROP TABLE IF EXISTS `options`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `options` (
  `id` varchar(36) NOT NULL,
  `text` varchar(255) NOT NULL,
  `value` varchar(255) NOT NULL,
  `questionId` varchar(255) DEFAULT NULL,
  `questionModelId` varchar(255) DEFAULT NULL,
  `userId` varchar(255) NOT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_46b668c49a6c4154d4643d875a5` (`questionId`),
  KEY `FK_236588fb96ad67e74a0f9a25d62` (`questionModelId`),
  CONSTRAINT `FK_236588fb96ad67e74a0f9a25d62` FOREIGN KEY (`questionModelId`) REFERENCES `question-models` (`id`) ON DELETE CASCADE ON UPDATE NO ACTION,
  CONSTRAINT `FK_46b668c49a6c4154d4643d875a5` FOREIGN KEY (`questionId`) REFERENCES `questions` (`id`) ON DELETE CASCADE ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `options`
--

LOCK TABLES `options` WRITE;
/*!40000 ALTER TABLE `options` DISABLE KEYS */;
/*!40000 ALTER TABLE `options` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question-models`
--

DROP TABLE IF EXISTS `question-models`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `question-models` (
  `id` varchar(36) NOT NULL,
  `text` varchar(255) NOT NULL,
  `type` varchar(255) NOT NULL,
  `required` tinyint(4) NOT NULL DEFAULT 0,
  `userId` varchar(255) NOT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  `parentQuestionId` varchar(36) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_9aad70cb07c9e70f20fbb8576e0` (`parentQuestionId`),
  CONSTRAINT `FK_9aad70cb07c9e70f20fbb8576e0` FOREIGN KEY (`parentQuestionId`) REFERENCES `questions` (`id`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question-models`
--

LOCK TABLES `question-models` WRITE;
/*!40000 ALTER TABLE `question-models` DISABLE KEYS */;
/*!40000 ALTER TABLE `question-models` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `questiongroups`
--

DROP TABLE IF EXISTS `questiongroups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `questiongroups` (
  `id` varchar(36) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` varchar(255) NOT NULL,
  `userId` varchar(255) NOT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  `surveyId` varchar(36) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_79d4582a7f4e87bf857f7992d5a` (`surveyId`),
  CONSTRAINT `FK_79d4582a7f4e87bf857f7992d5a` FOREIGN KEY (`surveyId`) REFERENCES `survey-configs` (`id`) ON DELETE CASCADE ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `questiongroups`
--

LOCK TABLES `questiongroups` WRITE;
/*!40000 ALTER TABLE `questiongroups` DISABLE KEYS */;
/*!40000 ALTER TABLE `questiongroups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `questions`
--

DROP TABLE IF EXISTS `questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `questions` (
  `id` varchar(36) NOT NULL,
  `text` varchar(255) NOT NULL,
  `answer` varchar(255) DEFAULT NULL,
  `type` varchar(255) NOT NULL,
  `required` tinyint(4) NOT NULL DEFAULT 0,
  `userId` varchar(255) NOT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  `questionGroupId` varchar(36) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `questions`
--

LOCK TABLES `questions` WRITE;
/*!40000 ALTER TABLE `questions` DISABLE KEYS */;
/*!40000 ALTER TABLE `questions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role` (
  `id` varchar(36) NOT NULL,
  `name` varchar(255) NOT NULL,
  `userId` varchar(255) NOT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
INSERT INTO `role` VALUES ('8dfa476a-9357-4570-9a56-262233a76822','admin','d21a8638-9c0e-43a0-a804-0d045126eebe','2025-07-12 17:19:18.823271','2025-07-12 17:19:18.823271'),('d3dd4874-f19e-4c40-a733-4f58f8635e45','admin','a52c4775-308c-4d4c-b1ac-7894dac55a1d','2025-07-06 15:53:11.066024','2025-07-06 15:53:11.066024');
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sub_item`
--

DROP TABLE IF EXISTS `sub_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sub_item` (
  `id` varchar(36) NOT NULL,
  `name` varchar(255) NOT NULL,
  `tier` varchar(255) NOT NULL,
  `itemId` varchar(255) NOT NULL,
  `templateId` varchar(255) DEFAULT NULL,
  `userId` varchar(255) NOT NULL,
  `serialNumber` varchar(255) NOT NULL,
  `buttonType` varchar(255) NOT NULL,
  `buttonLabel` varchar(255) NOT NULL,
  `layout` varchar(255) NOT NULL,
  `templateText` varchar(255) DEFAULT NULL,
  `navigationTo` varchar(255) NOT NULL,
  `description` varchar(255) NOT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_3968ea6e908906cbf19167614c6` (`itemId`),
  CONSTRAINT `FK_3968ea6e908906cbf19167614c6` FOREIGN KEY (`itemId`) REFERENCES `item` (`id`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sub_item`
--

LOCK TABLES `sub_item` WRITE;
/*!40000 ALTER TABLE `sub_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `sub_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sub_sub_item`
--

DROP TABLE IF EXISTS `sub_sub_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sub_sub_item` (
  `id` varchar(36) NOT NULL,
  `name` varchar(255) NOT NULL,
  `subItemId` varchar(255) NOT NULL,
  `tier` varchar(255) NOT NULL,
  `layout` varchar(255) NOT NULL,
  `buttonLabel` varchar(255) NOT NULL,
  `navigationTo` varchar(255) NOT NULL,
  `serialNumber` varchar(255) NOT NULL,
  `templateId` varchar(255) DEFAULT NULL,
  `templateText` varchar(255) DEFAULT NULL,
  `userId` varchar(255) NOT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  `buttonType` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_68b1048d444225fd29422a40ab2` (`subItemId`),
  CONSTRAINT `FK_68b1048d444225fd29422a40ab2` FOREIGN KEY (`subItemId`) REFERENCES `sub_item` (`id`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sub_sub_item`
--

LOCK TABLES `sub_sub_item` WRITE;
/*!40000 ALTER TABLE `sub_sub_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `sub_sub_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sub_sub_item_answer`
--

DROP TABLE IF EXISTS `sub_sub_item_answer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sub_sub_item_answer` (
  `id` varchar(36) NOT NULL,
  `subSubItemId` varchar(255) NOT NULL,
  `answerId` varchar(255) NOT NULL,
  `userId` varchar(255) NOT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sub_sub_item_answer`
--

LOCK TABLES `sub_sub_item_answer` WRITE;
/*!40000 ALTER TABLE `sub_sub_item_answer` DISABLE KEYS */;
/*!40000 ALTER TABLE `sub_sub_item_answer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sub_sub_sub_item`
--

DROP TABLE IF EXISTS `sub_sub_sub_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sub_sub_sub_item` (
  `id` varchar(36) NOT NULL,
  `name` varchar(255) NOT NULL,
  `subSubItemId` varchar(255) NOT NULL,
  `tier` varchar(255) NOT NULL,
  `layout` varchar(255) NOT NULL,
  `serialNumber` varchar(255) NOT NULL,
  `templateId` varchar(255) DEFAULT NULL,
  `templateText` varchar(255) DEFAULT NULL,
  `userId` varchar(255) NOT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_7889d645c39fc804f02319421b0` (`subSubItemId`),
  CONSTRAINT `FK_7889d645c39fc804f02319421b0` FOREIGN KEY (`subSubItemId`) REFERENCES `sub_sub_item` (`id`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sub_sub_sub_item`
--

LOCK TABLES `sub_sub_sub_item` WRITE;
/*!40000 ALTER TABLE `sub_sub_sub_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `sub_sub_sub_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `survey-configs`
--

DROP TABLE IF EXISTS `survey-configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `survey-configs` (
  `id` varchar(36) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `userId` varchar(255) NOT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  `createdBy` varchar(255) DEFAULT NULL,
  `updatedBy` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `survey-configs`
--

LOCK TABLES `survey-configs` WRITE;
/*!40000 ALTER TABLE `survey-configs` DISABLE KEYS */;
/*!40000 ALTER TABLE `survey-configs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `templates`
--

DROP TABLE IF EXISTS `templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `templates` (
  `id` varchar(36) NOT NULL,
  `name` varchar(255) NOT NULL,
  `code` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `templates`
--

LOCK TABLES `templates` WRITE;
/*!40000 ALTER TABLE `templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` varchar(36) NOT NULL,
  `username` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `createdAt` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  `updatedAt` datetime(6) NOT NULL DEFAULT current_timestamp(6) ON UPDATE current_timestamp(6),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES ('a52c4775-308c-4d4c-b1ac-7894dac55a1d','admin','sajid.ict@gmail.com','$2b$10$c8SZ0fArCXx87D2DeC5cM..Lw4kTe/nzM42T/V0IzBuFPWezjDKpK','2025-07-06 15:53:11.054386','2025-07-06 15:53:11.054386'),('d21a8638-9c0e-43a0-a804-0d045126eebe','sajid','sajid.ict@gmail.com','$2b$10$9RUAEa6j0MBUbcsWB.wRfelKXQB5E4COONdSjZke0p1mpoAL9gvQG','2025-07-12 17:19:18.818471','2025-07-12 17:19:18.818471');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'mukut_feature_db'
--

--
-- Dumping routines for database 'mukut_feature_db'
--
/*!50003 DROP PROCEDURE IF EXISTS `GetDataGroup` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `GetDataGroup`()
BEGIN
    SELECT 
        md.serialNumber AS moduleSerial,
        md.name AS moduleName,
        app.serialNumber AS appSerial,
        app.name AS appName,
        menu.serialNumber AS menuSerial,
        menu.title AS menuTitle,
        item.serialNumber AS itemSerial,
        item.name AS itemName,
   --      si.serialNumber AS subItemSerial,
--         si.name AS subItemName,
--         ssi.name AS subSubItemName,
--         sssi.name as subsubsubItemName,
		md.id AS moduleid,
		app.id AS appid,
		menu.id AS menuid,
		item.id as itemid,
-- 		si.id as subitemid,
-- 		ssi.id as subsubitemid,
-- 		sssi.id as subsubsubitemid,
        fi.*
    FROM field fi 
	left JOIN item ON item.id = fi.itemId
	left JOIN menu ON menu.id = item.menuid
	left JOIN app ON app.id = menu.appid
    left join modules md on md.id=app.moduleid
--     left JOIN sub_item si ON item.id = si.itemId
--     left JOIN sub_sub_item ssi ON si.id = ssi.subItemId
-- 	left JOIN sub_sub_sub_item sssi ON ssi.id = sssi.subSubItemId
    ORDER BY 
        md.serialNumber,
        app.serialNumber,
        menu.serialNumber,
        item.serialNumber,
--         si.serialNumber,
--         ssi.serialNumber,
--         sssi.serialNumber,
        fi.serialNumber;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GetDataPoint` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `GetDataPoint`()
BEGIN
      SELECT 
        md.serialNumber AS moduleSerial,
        md.name AS moduleName,
        app.serialNumber AS appSerial,
        app.name AS appName,
        menu.serialNumber AS menuSerial,
        menu.title AS menuTitle,
        item.serialNumber AS itemSerial,
        item.name AS itemName,
   --      si.serialNumber AS subItemSerial,
--         si.name AS subItemName,
--         ssi.name AS subSubItemName,
--         sssi.name as subsubsubItemName,
		md.id AS moduleid,
		app.id AS appid,
		menu.id AS menuid,
		item.id as itemid,
-- 		si.id as subitemid,
-- 		ssi.id as subsubitemid,
-- 		sssi.id as subsubsubitemid,
		fi.fieldgroupcode,
        dp.*
    FROM datapoint dp
    left join field fi on fi.id=dp.dpGroupCode
	left JOIN item ON item.id = fi.itemId
	left JOIN menu ON menu.id = item.menuid
	left JOIN app ON app.id = menu.appid
    left join modules md on md.id=app.moduleid
--     left JOIN sub_item si ON item.id = si.itemId
--     left JOIN sub_sub_item ssi ON si.id = ssi.subItemId
-- 	left JOIN sub_sub_sub_item sssi ON ssi.id = sssi.subSubItemId
    ORDER BY 
        md.serialNumber,
        app.serialNumber,
        menu.serialNumber,
        item.serialNumber,
--         si.serialNumber,
--         ssi.serialNumber,
--         sssi.serialNumber,
        fi.serialNumber;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `getDataPointmapsBySP` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `getDataPointmapsBySP`()
BEGIN
SELECT 
    fi.fieldGroupCode,
    fi.name,
    dp.dataPoint AS datapoint,
    i.name as itemName,
    dtm.*,
    md.id as moduleid,
    app.id as appid,
    menu.id as menuid
FROM datapointmap dtm
INNER JOIN field fi ON dtm.dpgroupid = fi.id
INNER JOIN datapoint dp ON dtm.datapointid  = dp.id
INNER JOIN item i ON dtm.itemId = i.id
INNER JOIN menu  ON menu.id  =i.menuid
INNER JOIN app ON app.id  = menu.appid
INNER JOIN modules md ON md.id  = app.moduleid

LIMIT 0, 10000;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GetDPGroupMap` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `GetDPGroupMap`()
BEGIN
SELECT item.name as itemName,si.name as subItemName,ssi.name as subSubItemName,sssi.name as subsubsubItemName,field.fieldGroupCode,dgm.* ,
    md.id as moduleid,
    app.id as appid,
    menu.id as menuid,
	si.id as subitemid,
    ssi.id as subsubitemid,
    sssi.id as subsubsubitemid
FROM dpgroupmap dgm
inner join item on item.id=dgm.itemId
inner join field on field.id=dgm.dpGroupId
INNER JOIN menu  ON menu.id  =item.menuid
INNER JOIN app ON app.id  = menu.appid
INNER JOIN modules md ON md.id  = app.moduleid
left join sub_item si on dgm.subItemId=si.id
left join sub_sub_item ssi on dgm.subSubItemId=ssi.id
left join sub_sub_sub_item sssi on dgm.subSubSubItemId=sssi.id;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `Getsubitemdata` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `Getsubitemdata`()
BEGIN
    SELECT 
        m.serialNumber AS moduleSerial,
        m.name AS moduleName,
		m.id AS moduleid,
		app.id AS appid,
		menu.id AS menuid,
        i.id as itemid,
        app.serialNumber AS appSerial,
        app.name AS appName,
        menu.serialNumber AS menuSerial,
        menu.title AS menuTitle,
        i.name as itemName,
        si.*
    FROM sub_item si
    left join item i on i.id=si.itemid
	left JOIN menu ON menu.id = i.menuId
	left JOIN app ON app.id = menu.appId
    left join modules m on m.id=app.moduleId
    ORDER BY 
        m.serialNumber,
        app.serialNumber,
        menu.serialNumber,
        i.serialNumber,
        si.serialNumber;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `Getsubsubitemdata` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `Getsubsubitemdata`()
BEGIN
    SELECT 
        m.serialNumber AS moduleSerial,
		m.id AS moduleid,
        m.name AS moduleName,
        app.serialNumber AS appSerial,
		app.id AS appid,
        app.name AS appName,
        menu.serialNumber AS menuSerial,
		menu.id AS menuid,
        menu.title AS menuTitle,
		i.id as itemid,
        i.name as itemName,
		si.id as subitemid,
        si.name as subitem,
        ssi.*
    FROM sub_sub_item ssi
	left join sub_item si on si.id=ssi.subItemId
    left join item i on i.id=si.itemid
	left JOIN menu ON menu.id = i.menuId
	left JOIN app ON app.id = menu.appId
    left join modules m on m.id=app.moduleId
    ORDER BY 
        m.serialNumber,
        app.serialNumber,
        menu.serialNumber,
        i.serialNumber,
        si.serialNumber,
        ssi.serialNumber;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `Getsubsubsubitemdata` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `Getsubsubsubitemdata`()
BEGIN
    SELECT 
        m.serialNumber AS moduleSerial,
        m.name AS moduleName,
        app.serialNumber AS appSerial,
        app.name AS appName,
        menu.serialNumber AS menuSerial,
        menu.title AS menuTitle,
        i.name as itemName,
        si.name as subitem,
        ssi.name as subsubitem,
		m.id AS moduleid,
		app.id AS appid,
		menu.id AS menuid,
		i.id as itemid,
		si.id as subitemid,
		ssi.id as subsubitemid,
        sssi.*
    FROM sub_sub_sub_item sssi
	left join sub_sub_item ssi on ssi.id=sssi.subSubItemId
	left join sub_item si on si.id=ssi.subItemId
    left join item i on i.id=si.itemid
	left JOIN menu ON menu.id = i.menuId
	left JOIN app ON app.id = menu.appId
    left join modules m on m.id=app.moduleId
    ORDER BY 
        m.serialNumber,
        app.serialNumber,
        menu.serialNumber,
        i.serialNumber,
        si.serialNumber,
        ssi.serialNumber,
        sssi.serialNumber;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `ItemsData` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `ItemsData`()
BEGIN
    SELECT 
        m.serialNumber AS moduleSerial,
        m.name AS moduleName,
		m.id AS moduleid,
		app.id AS appid,
		menu.id AS menuid,
        app.serialNumber AS appSerial,
        app.name AS appName,
        menu.serialNumber AS menuSerial,
        menu.title AS menuTitle,
        item.*
    FROM item
	left JOIN menu ON menu.id = item.menuId
	left JOIN app ON app.id = menu.appId
    left join modules m on m.id=app.moduleId
    ORDER BY 
        m.serialNumber,
        app.serialNumber,
        menu.serialNumber,
        item.serialNumber;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `menuData` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `menuData`()
BEGIN
    SELECT 
        m.serialNumber AS moduleSerial,
		m.id AS moduleid,
		app.id AS appid,
        m.name AS moduleName,
        app.serialNumber AS appSerial,
        app.name AS appName,
        menu.*
    FROM menu
	left JOIN app ON app.id = menu.appId
    left join modules m on m.id=app.moduleId
    ORDER BY 
        m.serialNumber,
        app.serialNumber,
        menu.serialNumber;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `ReportData` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `ReportData`()
BEGIN
    SELECT 
        md.serialNumber as moduleserialNumber,md.name as modulename,app.serialNumber as appserialNumber, app.name as appname,menu.serialNumber as menuserialNumber,
        menu.title,item.serialNumber as itemserialNumber,item.name as itemName,item.buttonType as itembuttonType,item.buttonLabel as itembuttonLabel,item.navigationTo as itemnavigationTo,item.description as itemdescription,
        si.serialNumber as siserialNumber,si.name as siitem,si.layout as silayout,si.description as sidescription,si.buttonLabel as sibuttonLabel, si.navigationTo as sisinavigationTo,
        ssi.serialNumber as ssiserialNumber,ssi.name as ssiname,ssi.layout as ssilayout,ssi.buttonLabel as ssibuttonLabel,ssi.navigationTo as ssinavigationTo,
        sssi.serialNumber as sssiserialNumber,sssi.name as sssiname,sssi.layout as sssilayout,
        fi.serialNumber as groupserialNumber,fi.fieldGroupCode,dp.*,
        fi.id as dpgroupid,
        fi.tier as dpgrouptier,fi.displayType as dpgroupdisplay,fi.description as dpgroupremarks
    FROM modules md 
    left JOIN app ON md.id = app.moduleId
    left JOIN menu ON app.id = menu.appId
    left JOIN item ON menu.id = item.menuId
    left JOIN sub_item si ON item.id = si.itemId
    left JOIN sub_sub_item ssi ON si.id = ssi.subItemId
	left JOIN sub_sub_sub_item sssi ON ssi.id = sssi.subSubItemId
	left JOIN field fi ON fi.itemId = item.id
	left JOIN datapoint dp ON fi.id = dp.dpGroupCode
    ORDER BY 
        md.serialNumber,
        app.serialNumber,
        menu.serialNumber,
        item.serialNumber,
        si.serialNumber,
        ssi.serialNumber,
        sssi.serialNumber,
        fi.serialNumber;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-07-28 19:30:11
